* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "custom font";
  src: url(truenoblk.otf) format(truetype);
}
body {
  background-color: white;
  font-family: sans-serif;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}
.H3 {
  display: flex;
  margin-left: 11%;
  font-size: 20px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: whitesmoke;
  position: fixed;
  width: 100vw;
  opacity: 90%;
  z-index: 9999;
}

.navbar-link {
  list-style: none;
  padding: 10px;
  margin: 10px;
}
.nav-button {
  text-decoration: none;
  color: black;
}
ul li {
  cursor: pointer;
  position: relative;
  margin: 0 1.4em;
  padding: 1.2em 1.6em;
  transition: all 0.2s;
  transition-delay: 0.2s;
}
ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.2s;
}
ul li:hover {
  background: linear-gradient(180deg, white, white, #8f8f8f);
}
ul li:hover::before {
  bottom: 56px;
  left: 0;
  background: linear-gradient(180deg, white, white, #8f8f8f);
}

.image {
  height: 100vh;
}

.landing {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-image: url(/images/pexels-sharon-mccutcheon-3694871.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.landing-text {
  align-self: center;
  display: flex;
  align-items: left;
  flex-direction: column;
  text-align: left;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Archivo Black", sans-serif;
  margin-left: 5%;
}
.under-text {
  font-size: 20px;
  margin-left: 4%;
}

.about-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  margin-left: 50%;
  /* background-image: url(/images/rainbow.jpg); */
  background-size: cover;
  color: whitesmoke;
  text-shadow: 1px 0 0 grey, 0 -1px 0 grey, 0 1px 0 grey, -1px 0 0 grey;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  display: flex;
  font-weight: 600px;
  flex-direction: column;
  z-index: 1;
}

.about-heading::after {
  position: absolute;
  content: "ATHEELAH VAN DER SCHYFF";
  position: absolute;
  font-size: 30px;
  text-shadow: none;
  color: black;
  top: 40px;
}

.about-text-container {
  margin-top: 0%;
  display: flex;
  justify-content: space-evenly;
}

.me-image {
  margin-bottom: 50px;
  height: 66vh;
  width: 60vh;
  margin-left: 2%;
  object-fit: cover;
}

.name {
  margin-left: 3%;
}
.name h2 {
  writing-mode: sideways-lr;
  text-orientation: mixed;
}

.pink {
  margin-left: 10px;
}
#About {
  padding-top: 50px;
}
#About > .landing-text {
  flex-direction: row;
  justify-content: left;
  font-size: 50px;
  margin-top: 5%;
  margin-right: 3%;
}

.passion {
  font-size: 25px;
  text-align: left;
  margin-bottom: 1%;
  font-family: "Archivo Black", sans-serif;
  margin-right: 5%;
  padding-top: 0%;
  margin-left: 11%;
}
.learn {
  margin-left: 11%;
  margin-top: 8%;
}
.close {
  margin-top: 35%;
  margin-left: 30%;
}
/* Modal Styling */
#modal {
  display: none;
  margin-top: 50%;
}

#modal.modal-active {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(241, 235, 235);
  border: 1px solid black;
  color: black;
  z-index: 100;
  width: 50vw;
  height: 75vh;
  transform: translate(-50%, -50%);
}

.landing-text-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.paragraph {
  text-align: left;
  width: 50vw;
  align-self: left;
  font-size: 20px;
  text-align: left;
  display: flex;
  justify-content: left;
  margin-bottom: 0%;
  margin-left: 1%;
}
.timeline-item {
  color: black;
  background: rgba(241, 191, 221, 0.45);
  box-shadow: 0 20px 32px 0 rgba(10, 10, 10, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.experience-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  margin-left: 30%;
  /* background-image: url(/images/rainbow.jpg); */
  background-size: cover;
  text-shadow: 1px 0 0 grey, 0 -1px 0 grey, 0 1px 0 grey, -1px 0 0 grey;
  color: whitesmoke;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  display: flex;
  font-weight: 600px;
  flex-direction: column;
  z-index: 1;
}
.experience-heading::after {
  position: absolute;
  content: "WORK AND EDUCATION";
  position: absolute;
  font-size: 30px;
  text-shadow: none;
  color: black;
  top: 40px;
  margin-left: 10px;
}

p.about-text {
  text-align: center;
  width: 50vw;
  align-self: center;
  font-size: 20px;
  display: flex;
  justify-content: left;
}
.about-text {
  font-size: 25px;
  display: flex;
}
.name-details {
  display: flex;
  justify-self: center;
  align-self: center;
  margin-top: 2%;
  font-weight: bolder;
}
.lorem {
  font-size: 20px;
  text-align: left;
  margin-bottom: 2%;
}

.work {
  font-size: 45px;
  display: flex;
  font-family: "Archivo Black", sans-serif;
  margin-left: 4%;
}
.projects-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  margin-left: 30%;
  /* background-image: url(/images/rainbow.jpg); */
  background-size: cover;
  text-shadow: 1px 0 0 grey, 0 -1px 0 grey, 0 1px 0 grey, -1px 0 0 grey;
  color: whitesmoke;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  display: flex;
  font-weight: 600px;
  flex-direction: column;
  z-index: 1;
}
.projects-heading::after {
  position: absolute;
  content: "MY PROJECTS";
  position: absolute;
  font-size: 30px;
  text-shadow: none;
  color: black;
  top: 40px;
  margin-left: 10px;
}

.timeline-container {
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-row: repeat(4, 1fr);
  padding: 2%;
}

.timeline-item div {
  width: 10px;
}
.line {
  width: 6px;
  height: 100%;
  margin-left: 80px;
  grid-row-start: 1;
  grid-row-end: 5;
  background: black;
  box-shadow: 0 20px 32px 0 rgba(10, 10, 10, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);

  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-right: 5%;
}
.header-container {
  display: flex;
  justify-content: space-around;
  font-family: "Archivo Black", sans-serif;
  font-size: xx-large;
  margin-top: 5%;
}
.item1 {
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 20%;
}
.item2 {
  grid-column: 3;
  grid-row: 1;
  margin-bottom: 20%;
}
.item3 {
  grid-column: 1;
  grid-row: 2;
}
.item4 {
  grid-column: 3;
  grid-row: 2;
}
.timeline-item p {
  text-align: left;
}
.timeline-item {
  background: rgba(143, 140, 142, 0.45);
  box-shadow: 0 20px 32px 0 rgba(10, 10, 10, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 0px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5%;
}

#Skills {
  height: 100vh;
  padding-top: 5%;
}
.skills-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
  margin-left: 25%;
  top: 10px;
  /* background-image: url(/images/rainbow.jpg); */
  background-size: cover;

  text-shadow: 1px 0 0 grey, 0 -1px 0 grey, 0 1px 0 grey, -1px 0 0 grey;
  color: whitesmoke;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  display: flex;
  font-weight: 600px;
  flex-direction: column;
  z-index: 1;
}
.skills-heading::after {
  position: absolute;
  content: "WHAT IM ALL ABOUT";
  position: absolute;
  font-size: 30px;
  text-shadow: none;
  color: black;
  top: 40px;
}
.skill-icons {
  margin-left: 5%;
  margin-top: 10%;
  border: solid 2px rgba(0, 0, 0, 0.1);
  font-size: 10px;
}
.skill-icon {
  margin-left: 2%;
  border-right: solid 2px rgba(0, 0, 0, 0.1);
}

.fab,
.fas {
  transition: all 0.3s linear;
}

.fab:hover,
.fas:hover {
  color: grey;
}

.projects {
  font-size: 45px;
  display: flex;
  font-family: "Archivo Black", sans-serif;
  margin-left: 1%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px 55px;
  width: 100vw;
  margin-bottom: 50px;
}
.container .card {
  position: relative;
  width: 450px;
  height: 350px;
  margin: 35px 15px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: 0, 3s ease-in-out;
}
.card img {
  height: 300px;
  object-fit: cover;
  z-index: 0;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
}
.content {
  margin-bottom: 10%;
}
.button {
  background: black;
  color: white;
  text-decoration: none;
  padding: 10px 50px;
  transition: all 0.3s linear;
  width: 49%;
  margin-right: 2%;
  z-index: 10;
  top: 0;
  right: 0;
}

.button:hover {
  font-size: 1.1em;
  background: white;
  color: black;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

#Testimonials {
  display: flex;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  background-size: cover;
  margin-left: 5%;
  margin-top: 8%;
}
.quote {
  font-size: 50px;
  margin-left: 10%;
}
.small-image {
  border-radius: 50%;
  margin-left: 10%;
  margin-right: 5%;
}
.image-container div {
  display: grid;
  grid-template-columns: repeat(2, 210px);
  margin-left: 10px;
}
.name-occ {
  margin-top: 30px;
}
.name-title {
  display: flex;
}
.test-slider {
  display: none;
}
.test-active {
  display: block;
}
.testimonials-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  margin-left: 60%;
  margin-bottom: 5%;
  /* background-image: url(/images/rainbow.jpg); */
  background-size: cover;
  text-shadow: 1px 0 0 grey, 0 -1px 0 grey, 0 1px 0 grey, -1px 0 0 grey;
  color: whitesmoke;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  display: flex;
  font-weight: 600px;
  flex-direction: column;
  z-index: 1;
}
.testimonials-heading::after {
  position: absolute;
  content: "WHAT PEOPLE SAY";
  position: absolute;
  font-size: 30px;
  text-shadow: none;
  color: black;
  top: 40px;
}
.src {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-size: cover;
}

.h3 {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 20px;
}
.h2 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 40px;
}
.paragraph {
  padding: 2% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  text-align: left;
}

@media screen and (max-width: 800px) {
  .item {
    flex-direction: column;
  }
}

#Contact-Me {
  height: 100vh;
  padding: 4% 6.5%;
  margin-left: 20px;
}
.contactMe-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  margin-left: 26%;
  /* background-image: url(/images/rainbow.jpg); */
  background-size: cover;
  background-position-y: center;
  text-shadow: 1px 0 0 grey, 0 -1px 0 grey, 0 1px 0 grey, -1px 0 0 grey;
  color: whitesmoke;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  display: flex;
  font-weight: 600px;
  flex-direction: column;
  z-index: 1;
}
.contactMe-heading::after {
  position: absolute;
  content: "GET IN TOUCH";
  position: absolute;
  font-size: 30px;
  text-shadow: none;
  color: black;
  top: 40px;
}
.heading-h1 {
  margin-bottom: 20px;
  margin-left: 26%;
  display: flex;
  justify-content: flex-start;
}
#contact-form {
  color: black;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5%;
  width: 40%;
}
.contact-info {
  border-radius: 0px;
  display: flex;
  text-transform: uppercase;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.contact-button {
  width: 20%;
  margin-left: 10%;
  border-radius: 0px;
  padding: 10px;
  background-color: black;
  border: black solid 2px;
  color: white;
}
.contact-button:hover {
  background: white;
  color: black;
  transition: all 0.3s linear;
}

.contactMe-button {
  width: 20%;
  margin-left: 0%;
  border-radius: 0px;
  padding: 10px;
  background-color: black;
  border: black solid 2px;
  color: white;
}
.contactMe-button:hover {
  background: white;
  color: black;
  transition: all 0.3s linear;
}
.contact-label {
  display: none;
}
.contact-input {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 0px;
  padding: 10px;
  width: 100%;
}
.contact-heading {
  padding-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  background-color: whitesmoke;
  position: fixed;
  width: 100vw;
  opacity: 90%;
  z-index: 9999;
}
.heart {
  color: white;
}
footer {
  position: fixed;
  display: flex;
  align-items: flex-start;
  bottom: 0;
  width: 100vw;
  padding: 0.5%;
  background-color: black;
  color: white;
  z-index: 1000;
}

.email {
  display: flex;
  flex-direction: row;
  margin-right: 2%;
}

.mail-icons {
  display: flex;
  justify-content: right;
  align-self: right;
  font-size: 30px;
  margin-left: 35px;
}

footer a {
  margin-left: 1%;
}
.made {
  font-size: 30px;
  margin-left: 550px;
}
.form-container {
  display: flex;
  justify-content: space-between;
}

.iframe-container {
  width: 50%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 370px;
}
.color {
  color: white;
}
@media screen and (max-width: 600px) {
  body {
    width: 600px;
    overflow-x: hidden;
  }
  .navbar {
    width: 55vh;
  }
  .navbar-link {
    margin: 0.5%;
    padding: 5px;
    font-size: 10px;
  }
  .landing-text {
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Archivo Black", sans-serif;
    margin-left: 0%;
  }
  .image {
    width: 300px;
    height: 300px;
    margin-right: 0px;
  }
  .under-text {
    margin-left: 5%;
    font-size: 15px;
  }
  .heading {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    font-size: 15px;
  }
  .name {
    margin-left: 5%;
  }
  .landing {
    height: 300px;
  }
  .navbar {
    padding-left: 0px;
    display: flex;
    justify-content: center;
  }
  .about-heading {
    font-size: 65px;
    margin-left: 30%;
  }
  .about-heading::after {
    font-size: 20px;
    top: 30px;
  }
  .me-image {
    height: 320px;
    width: 300px;
  }
  .H3 {
    font-size: 12px;
  }
  .paragraph {
    font-size: 10px;
  }
  .passion {
    font-size: 12px;
  }
  .contact-button {
    width: 200px;
    border-radius: 0px;
    padding: 3px;
    margin: 6px 30px 0px;
  }
  .skills-heading {
    font-size: 45px;
  }
  .skills-heading::after {
    font-size: 15px;
    top: 20px;
  }
  .skill-icon {
    border: none;
    margin-left: 8%;
  }
  .skill-icons {
    border: none;
  }
  .close {
    margin-left: 50px;
    margin-top: 40px;
  }
  .experience-heading {
    font-size: 65px;
    margin-left: 5%;
  }
  .experience-heading::after {
    font-size: 20px;
    top: 30px;
  }
  .header-container {
    font-size: large;
  }
  .timeline-item p {
    font-size: 10px;
  }
  .timeline-item h2 {
    font-size: 15px;
  }
  .timeline-item h3 {
    font-size: 12px;
  }
  .line {
    margin-left: 30px;
  }
  .projects-heading {
    font-size: 65px;
    margin-left: 5%;
  }
  .projects-heading::after {
    font-size: 20px;
    top: 30px;
  }
  .testimonials-heading {
    font-size: 65px;
    margin-left: 5%;
  }
  .testimonials-heading::after {
    font-size: 20px;
    top: 30px;
  }
  .contactMe-heading {
    font-size: 65px;
    margin-left: 1%;
  }
  .contactMe-heading::after {
    font-size: 20px;
    top: 30px;
  }
  #Contact-Me {
    height: 100vh;
    padding: 0%;
    margin-left: 20px;
  }
  .heading-h1 {
    margin-bottom: 20px;
    margin-left: 1%;
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
  }
  .send {
    width: 800px;
    border-radius: 0px;
    padding: 3px;
    margin: 0px;
  }
  .link {
    font-size: 1px;
  }
  .made {
    margin-left: 20px;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .mail-icons {
    font-size: 19px;
  }
  #Testimonials {
    flex-direction: column;
  }
  .src {
    width: 150px;
    height: 150px;
  }
  .image-container {
    grid-template-columns: repeat(2, 160px);
    width: 600px;
  }
}
